		body {
  background-image: url('../images/bckgrd_image.jpg');
}

@font-face {
font-family: "Omnes";
src: url("../fonts/Omnes.ttf");
}


h1,h2,h3,p,a,label {
	font-family: Omnes, Arial, sans-serif;
}

p {
	width: 80%;
	margin-left: 20px;
}

.contactPage {
	color: white;
}

#burgerCon {
	display: none;
}

.mainNav button {
	background: url(../images/burger_menu.png) center no-repeat;
	border: 0px;
	width: 40px;
	height: 20px;
	transition: all 400ms ease;
}

.mainNav button.expanded {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#burgerCon.slideToggle {
	display: block;
}

.verticalBorder {
	margin-left: 100px;
	width: 2px;
	height: 400px;
	background-color: #A03535;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #3D3D3D;
}

.hidden {
	display: none;
}

.header {
	display: flex;
	flex-direction: row;

background: rgb(61,61,61);
background: -moz-linear-gradient(left,  rgba(61,61,61,1) 0%, rgba(214,39,26,1) 100%); 
background: -webkit-linear-gradient(left,  rgba(61,61,61,1) 0%,rgba(214,39,26,1) 100%); 
background: linear-gradient(to right,  rgba(61,61,61,1) 0%,rgba(214,39,26,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#d6271a',GradientType=1 );

}

.advertisingContent {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.advertisingTitle {
	display: flex;
	flex-direction: column;
	margin-left: 275px;
	padding-right: 60px;
	border-right: 1px solid #A03535;
}

.advertisingTitle h2 {
	font-size: 25px;
	color: white;

}

.advertisingTitle h3 {
	font-size: 20px;
	color: #BC4242;
}

.advertisingInfo {
	color: white;
	font-size: 15px;
	margin-left: 30px;
}

.mainImage {
	display: flex;
}

.contactPage {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-left: 150px;
	margin-bottom: 20px;
}

.mapArea {
	margin-left: 80px;
}

.mapouter {
	margin-left: 20px;
}

.addressAndMap p {
	margin-bottom: 30px;
}

#contactForm input{
	border: 0;
	width: 200px;
	height: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #C6C6C6;
}

#contactForm textarea {
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #C6C6C6;
}

.productPageContent {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.productPageTitle {
	display: flex;
	flex-direction: column;
	margin-left: 230px;
	padding-right: 40px;
	border-right: 1px solid #A03535;
}

.productPageTitle h2 {
	font-size: 25px;
	color: white;
}

.productPageTitle h3 {
	font-size: 20px;
	color: #BC4242;
}

.productRow {
	display: flex;
	flex-wrap: wrap;
}

.exclusives {
	color: white;
}

.link {
	font-size: 30px;
	margin-top: 130px;
	width: 220px;
	text-align: center; 
	margin-left: 170px;
	height: 33px;
	/*border-radius: 2px;
	border-radius: 10%; */
	border: 2px solid white;
/*background: rgb(186,186,186);  Old browsers 
background: -moz-linear-gradient(left,  rgba(186,186,186,1) 0%, rgba(61,61,61,1) 99%); 
background: -webkit-linear-gradient(left,  rgba(186,186,186,1) 0%,rgba(61,61,61,1) 99%); 
background: linear-gradient(to right,  rgba(186,186,186,1) 0%,rgba(61,61,61,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#3d3d3d',GradientType=1 ); /* IE6-9 */
*/
}

.link a {
	text-decoration: none;
	color: white;
}

.productPageInfo {
	color: white;
	font-size: 15px;
	margin-left: 60px;
}

.product1 {
	background-color: #565656;
	color: white;
	display: flex;
	flex-direction: column;

}

.product2 {
	color: white;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.availableLocalImages {
	display: flex;
	justify-content: center;

	margin-bottom: 10px;
}

.imagesRow {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.imagesInfo {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}

.advertisingPhotoArea {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	flex-grow: 1;
}

.photoRow1 {
	display: flex;
	margin-left: 10px;
}

.photoRow1 img{
	display: flex;
	margin-left: 20px;
	margin-bottom: 7px;
}

.photoRow2 {
	display: flex;
	margin-left: 10px;
	margin-bottom: 7px;
}

.photoRow2 img{
	display: flex;
	margin-left: 20px;
	margin-right: 4px;
}

.photoRow3 {
	display: flex;
	margin-left: 10px;
	margin-bottom: 7px;
}

.photoRow3 img{
	display: flex;
	margin-left: 20px;
 	margin-bottom: 7px;
}


.logo {
	margin-left: 10px;
}

.mainNav {	
	margin-top: 23px;
	margin-left: 200px;
}


.mainNav a {
	display: block;
	text-decoration: none;
	color: white;
	margin-right: 30px;
}

.footerNav {	
	margin-top: 23px;
	margin-left: 50px;
	margin-bottom: 23px;
}


.footerNav a {
	text-decoration: none;
	color: white;
	margin-right: 15px;
}

.copyright p {
	margin-top: 23px;
	color: white;
	margin-left: 400px;

}

.mainImageAndProducts {
	display: flex;
	flex-direction: column;
	background-color: #565656;
	width: 1200px;
}

.productsInfo {
	display: flex;
	flex-direction: row;
	color: white;
}

.imageAndInfo {
	width: 300px;
	height: 300px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.mainVdo {
	display: flex;
	justify-content: center;
}

video {

	display: flex;
	width: 1000px;
	height: 580px;
	margin-bottom: 20px;
	margin-top: 15px;
}


.borderHorizontal {
	position: absolute;
	width: 1200px;
	height: 1px;
	background-color: white;
}

.exclusiveImages {
	display: flex;
	flex-direction: row;
}

.productsSection {
	color: white;
	display: flex;
	flex-direction: row;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}



.productImages {
	margin-top: 10px;
	margin-right: 50px;
}

.exclusiveImages {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 55px;
}

.borderExclusive {
	height: 310px;
	width: 1px;
	background-color: white;
}

.productTitle {
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 100px;
	height: 25px;
	text-align: center;
}

.productTitle h2 {
	margin-top: 3px;

}

.title {
	margin-left: 400px;
	width: 100px;
	height: 25px;
	text-align: center;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

.title h2 {
	margin-top: 5px;
}

.borderExclusive2 {
	height: 1px;
	width: 553px;
	background-color: white;
}

.exclusives {
	display: flex;
	flex-direction: column;

}

.footer {
	display: flex;
	flex-direction: row;
	background-color: #282828;
}


@media screen and (min-width: 500px) {

video {
display: flex;
}

.container {
	max-width: 500px;
	justify-content: center;
	margin: 0 auto;
}

.borderHorizontal {
	display: flex;
	width: 500px;
}

.mainVdo {
	display: flex;
	justify-content: center;
	width: 450px;
	margin-left: 20px;
	height: 500px;
}

.mainImage {
	display: flex;
	width: 500px;
	height: 260px;
}

.mainImageAndProducts {
	margin-top: 115px;
	width: 500px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#button {
	display: flex;
	margin-left: 10px;
	margin-bottom: 20px;
}

.mainNav {
	display: flex;
	margin-left: 230px;
}

.mainNav a {
	font-size: 14px;
	margin-bottom: 6px;
}

.productsInfo {
	width: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.productsInfo img{
	margin-left: 90px;
}

.productsInfo p{
	width: 100%;
	margin-left: 180px;
	font-size: 12px;
}

.productsSection {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.productRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 150px;
}

.productRow img {
	margin-top: 5px;
}

.borderExclusive {
	width: 0px;
	height: 0px;
}

.title {
	display: flex;
	margin-top: 20px;
	margin-left: 195px;
	border: 1px solid white;
	justify-content: center;
}

.link {
	display: flex;
	margin-left: 125px;
	margin-top: 15px;
	margin-bottom: 15px;
	justify-content: center;
}

.footer{
	width: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.footerNav a{
	font-size: 14px;
}

.copyright p{
	display: flex;
	margin-left: 150px;
	font-size: 14px;

margin-bottom: 10px;
}

.borderExclusive2 {
	display: flex;
	width: 500px;
}

}


@media screen and (min-width: 600px) {
.borderHorizontal {
	display: flex;
	width: 600px;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	justify-content: center;

}

.mainNav {
	margin-left: 335px;
}


video {
display: flex;
}

.mainVdo {
	display: flex;
	justify-content: center;
}

.footer {
	width: 600px;
	display: flex;
	justify-content: center;

}

.footerNav {
	margin-left: 110px;
}

.copyright p {
	display: flex;
	margin-left: 210px;

margin-bottom: 10px;
}

.link {
	display: flex;
	justify-content: center;
	margin-left: 180px;
}

.mainImage {
	display: flex;
	width: 600px;
	height: 260px;
}

.mainImageAndProducts {
	justify-content: center;
	width: 600px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.productTitle {
	display: flex;
	justify-content: center;
}

.borderExclusive2 {
	display: flex;
	width: 600px;
}
.productsSection {
	max-width: 600px;
	display: flex;
	flex-direction: column;
}

.productRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 200px;
}

.productRow img {
	margin-top: 5px;
}

.productsInfo {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.productsInfo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.imageAndInfo {
	margin-left: 65px;
}
 
 .borderExclusive {
 	display: none;
 }


 .title {
 	display: flex;
 	justify-content: center;
 	margin-left: 243px;
 }

 .link {
 	max-width: 600px;
 }

}

@media screen and (min-width: 700px) {
	

	.container {
		max-width: 700px;
		margin: 0 auto;
	}

	#button {
		display: none;
	}

	#burgerCon.slideToggle {
		display: none;
	}
#burgerCon {
	display: flex;
	flex-direction: row;
}
.mainNav {
	display: flex;
	flex-direction: row;
	margin-left: 100px;
}

.mainNav a {
	font-size: 13px;
}

.mainImageAndProducts {
	display: flex;
	width: 700px;
	justify-content: center;
}

.productRow {
	display: flex;
	margin-left: 150px;
}

.mainImage {
	display: flex;
	width: 700px;
	height: 200px;
}

.productsInfo {
	display: flex;
	width: 700px;
	flex-direction: row;
	flex-wrap: wrap;
}

.imageAndInfo {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}



.productsInfo img {
	margin-left: 0px;
}

.productsInfo p {
	margin-left: 0px;
}

.productsSection {
	display: flex;
	max-width: 700px;
}

.borderExclusive2 {
	display: flex;
	width: 700px;
}

.title {
	display: flex;
	margin-left: 300px;
}

.borderHorizontal {
	display: flex;
	width: 700px;
}

.footer {
	display: flex;
	width: 700px;
}

.footerNav {
	display: flex;
	margin-left: 145px;
}

.copyright p{
display: flex;
margin-left: 255px;
margin-bottom: 10px;
}

.link{
	display: flex;
	margin-left: 225px;

}
}

@media screen and (min-width: 800px) {
	

	.container {
		max-width: 800px;
		margin: 0 auto;
	}

	#button {
		display: none;
	}

	#burgerCon.slideToggle {
		display: none;
	}
#burgerCon {
	display: flex;
	flex-direction: row;
}
.mainNav {
	display: flex;
	flex-direction: row;
	margin-left: 120px;
}

.mainNav a {
	font-size: 14px;
}

.mainImageAndProducts {
	display: flex;
	width: 800px;
	justify-content: center;
}

.productRow {
	width: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 15px;
}

.productRow img{
	margin-top: 10px;
	width: 190px;
	height: 190px;
}

.mainImage {
	display: flex;
	width: 800px;
	height: 200px;
}

.productsInfo {
	display: flex;
	width: 800px;
	flex-direction: row;
	flex-wrap: wrap;
}

.imageAndInfo {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}


.productsInfo img {
	margin-left: 0px;
}

.productsInfo p {
	margin-left: 0px;
}

.productsSection {
	display: flex;
	max-width: 800px;
}

.borderExclusive2 {
	display: flex;
	width: 800px;
	flex-direction: column;
}

.title {
	display: flex;
	margin-left: 345px;
}

.borderHorizontal {
	display: flex;
	width: 800px;
}

.footer {
	display: flex;
	width: 800px;
}

.footerNav {
	display: flex;
	margin-left: 205px;
}

.copyright p{
display: flex;
margin-left: 310px;
margin-bottom: 10px;
}

.link{
	display: flex;
	margin-left: 290px;

}
}


@media screen and (min-width: 1000px) {
	

	.container {
		max-width: 1000px;
		margin: 0 auto;
	}

	#button {
		display: none;
	}

	#burgerCon.slideToggle {
		display: none;
	}
#burgerCon {
	display: flex;
	flex-direction: row;
}
.mainNav {
	display: flex;
	flex-direction: row;
	margin-left: 120px;
}

.mainNav a {
	font-size: 16px;
}

.mainImageAndProducts {
	display: flex;
	width: 1000px;
	justify-content: center;
}

.productRow {
	width: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0px;
	margin-bottom: 5px;
}

.productRow img{
	margin-top: 10px;
	width: 135px;
	height: 135px;
}

.mainImage {
	display: flex;
	width: 1000px;
	height: 260px;
}

.productsInfo {
	display: flex;
	height: 300px;
	flex-direction: row;
	width: 1000px;
	flex-wrap: wrap;
}



.imageAndInfo {
	display: flex;
	flex-direction: column;
	width: 235px;
	justify-content: center;
	flex-wrap: wrap;
}

.imageAndInfo p {
	width: 80%;
	font-size: 14px;
	margin-left: 25px;
}

.imageAndInfo img{
	width: 250px;
}

.productsSection {
	display: flex;
	flex-direction: row;
	max-width: 1000px;
}

.borderExclusive2 {
	display: flex;
	width: 347px;
	flex-direction: column;
}

.borderExclusive {
	display: flex;
	width: 1px;
	height: 263px;
	background-color: white;
}



.exclusives img{
width: 150px;
}

.title {
	margin-top: 0px;
	display: flex;
	margin-left: 232px;
}

.borderHorizontal {
	display: flex;
	width: 1000px;
}

.footer {
	display: flex;
	width: 1000px;
	flex-direction: row;
}

.footerNav {
	display: flex;
	margin-left: 10px;
}



.link{
	display: flex;
	justify-content: center;
	margin-top: 70px;
	margin-left: 50px;

}
}


@media screen and (min-width: 1200px) {

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}

#burgerCon {
	display: flex;
	flex-direction: row;
}
.mainNav {
	display: flex;
	flex-direction: row;
	margin-left: 200px;
}

.mainNav a {
	font-size: 16px;
	margin-right: 40px;
}

.mainImageAndProducts {
	display: flex;
	width: 1200px;
	justify-content: center;
}

.productRow {
	width: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0px;
	margin-bottom: 5px;
}

.productRow img{
	margin-top: 10px;
	width: 195px;
	height: 195px;
}

.mainImage {
	display: flex;
	width: 1200px;
	height: 260px;
}

.productsInfo {
	display: flex;
	height: 300px;
	flex-direction: row;
	width: 1200px;
	flex-wrap: wrap;
}



.imageAndInfo {
	display: flex;
	flex-direction: column;
	width: 300px;
	justify-content: center;
	flex-wrap: wrap;
}

.imageAndInfo p {
	width: 80%;
	font-size: 14px;
	margin-left: 10px;
}

.imageAndInfo img{
	width: 250px;
}

.productsSection {
	display: flex;
	flex-direction: row;
	max-width: 1200px;
}

.borderExclusive2 {
	display: flex;
	width: 347px;
	flex-direction: column;
}

.borderExclusive {
	display: flex;
	width: 1px;
	height: 263px;
	background-color: white;
}



.exclusives img{
width: 150px;
}

.title {
	margin-top: 0px;
	display: flex;
	margin-left: 245.5px;
	border-right: none;
}

.borderHorizontal {
	display: flex;
	width: 1200px;
}

.footer {
	display: flex;
	width: 1200px;
	justify-content: space-between;
	flex-direction: row;
}

.footerNav {
	display: flex;
	margin-left: 50px;
}

.copyright p {
	display: flex;
	margin-right: 50px;
}

.link{
	display: flex;
	justify-content: center;
	margin-top: 150px;
	margin-left: 50px;

}

}