		body {
  background-image: url('../images/bckgrd_image.jpg');
}

@font-face {
font-family: "Omnes";
src: url("../fonts/Omnes.ttf");
}


h1,h2,h3,p,a,label {
	font-family: Omnes, Arial, sans-serif;
}

p {
	width: 80%;
	margin-left: 20px;
}

.contactPage {
	color: white;
}



.verticalBorder {
	margin-left: 100px;
	width: 2px;
	height: 400px;
	background-color: #A03535;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #3D3D3D;
}

.hidden {
	display: none;
}

.header {
	display: flex;
	flex-direction: row;

background: rgb(61,61,61);
background: -moz-linear-gradient(left,  rgba(61,61,61,1) 0%, rgba(214,39,26,1) 100%); 
background: -webkit-linear-gradient(left,  rgba(61,61,61,1) 0%,rgba(214,39,26,1) 100%); 
background: linear-gradient(to right,  rgba(61,61,61,1) 0%,rgba(214,39,26,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#d6271a',GradientType=1 );

}

.advertisingContent {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.advertisingTitle {
	display: flex;
	flex-direction: column;
	margin-left: 275px;
}

.advertisingTitle h2 {
	font-size: 25px;
	color: white;
}

.advertisingTitle h3 {
	font-size: 20px;
	color: #BC4242;
}

.advertisingInfo {
	color: white;
	font-size: 15px;
	margin-left: 60px;
}


.contactPage {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-left: 150px;
	margin-bottom: 20px;
}

.mapArea {
	margin-left: 80px;
}

.mapouter {
	margin-left: 20px;
}

.addressAndMap p {
	margin-bottom: 30px;
}

#contactForm input{
	border: 0;
	width: 200px;
	height: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #C6C6C6;
}

#contactForm textarea {
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #C6C6C6;
}

.productPageContent {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.productPageTitle {
	display: flex;
	flex-direction: column;
	margin-left: 175px;
}

.productPageTitle h2 {
	font-size: 25px;
	color: white;
}

.productPageTitle h3 {
	font-size: 20px;
	color: #BC4242;
}

.productRow {
	display: flex;
	flex-wrap: wrap;
}

.exclusives {
	color: white;
}

.link {
	font-size: 30px;
	margin-top: 100px;
	border-radius: 2px;
	border-radius: 10%;

background: rgb(186,186,186); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(186,186,186,1) 0%, rgba(61,61,61,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(186,186,186,1) 0%,rgba(61,61,61,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(186,186,186,1) 0%,rgba(61,61,61,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#3d3d3d',GradientType=1 ); /* IE6-9 */

}

.link a {
	text-decoration: none;
	color: white;
}

.productPageInfo {
	color: white;
	font-size: 15px;
	margin-left: 60px;
}

.product1 {
	background-color: #565656;
	color: white;
	display: flex;
	flex-direction: column;

}

.product2 {
	color: white;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.availableLocalImages {
	display: flex;
	justify-content: center;

	margin-bottom: 10px;
}

.imagesRow {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.imagesInfo {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}

.advertisingPhotoArea {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	flex-grow: 1;
}

.photoRow1 {
	display: flex;
	margin-left: 10px;
}

.photoRow1 img{
	display: flex;
	margin-left: 20px;
	margin-bottom: 7px;
}

.photoRow2 {
	display: flex;
	margin-left: 10px;
	margin-bottom: 7px;
}

.photoRow2 img{
	display: flex;
	margin-left: 20px;
	margin-right: 4px;
}

.photoRow3 {
	display: flex;
	margin-left: 10px;
	margin-bottom: 7px;
}

.photoRow3 img{
	display: flex;
	margin-left: 20px;
 	margin-bottom: 7px;
}


.logo {
	margin-left: 10px;
}

.mainNav {	
	margin-top: 23px;
	margin-left: 200px;
}


.mainNav a {
	text-decoration: none;
	color: white;
	margin-right: 30px;
}

.footerNav {	
	margin-top: 23px;
	margin-left: 50px;
	margin-bottom: 23px;
}


.footerNav a {
	text-decoration: none;
	color: white;
	margin-right: 15px;
}

.copyright p {
	margin-top: 23px;
	color: white;
	margin-left: 400px;

}

.mainImageAndProducts {
	display: flex;
	flex-direction: column;
	background-color: #565656;
	width: 1200px;
}

.productsInfo {
	display: flex;
	flex-direction: row;
	color: white;
}

.imageAndInfo {
	width: 300px;
	height: 300px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

video {
	display: flex;
	margin-left: 100px;
	width: 1000px;
	height: 580px;
	margin-bottom: 20px;
}


.borderHorizontal {
	position: absolute;
	width: 1200px;
	height: 1px;
	background-color: white;
}

.exclusiveImages {
	display: flex;
	flex-direction: row;
}

.productsSection {
	color: white;
	display: flex;
	flex-direction: row;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}



.productImages {
	margin-top: 10px;
	margin-right: 50px;
}

.exclusiveImages {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 55px;
}

.borderExclusive {
	height: 310px;
	width: 1px;
	background-color: white;
}

.productTitle {
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 100px;
	height: 25px;
	text-align: center;
}

.productTitle h2 {
	margin-top: 3px;

}

.title {
	margin-left: 400px;
	width: 100px;
	height: 25px;
	text-align: center;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

.title h2 {
	margin-top: 5px;
}

.borderExclusive2 {
	height: 1px;
	width: 553px;
	background-color: white;
}

.exclusives {
	display: flex;
	flex-direction: column;

}

.footer {
	display: flex;
	flex-direction: row;
	background-color: #282828;
}